<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="uninstallRental" xsi:type="object">SalesIgniter\Common\Console\Command\UninstallRentalUseWithCaution</item>
                <item name="removeAttributes" xsi:type="object">SalesIgniter\Common\Console\Command\RemoveAttributeSourceModels</item>
                <item name="restoreAttributes" xsi:type="object">SalesIgniter\Common\Console\Command\RestoreAttributeSourceModels</item>
            </argument>
        </arguments>
    </type>

    <!-- The shared off-session payment layer (Model/Payment/OffSession, .claude/rules/offsession.md). The
         SalesIgniter_CommonPay* gateway sub-modules add their strategies, method codes and decline mappers;
         the consumers add their SavedCardRequirement providers and SubjectSaver savers. -->
    <type name="SalesIgniter\Common\Model\Payment\OffSession\OffSessionMethods">
        <arguments>
            <argument name="offlineMethods" xsi:type="array">
                <item name="checkmo" xsi:type="string">checkmo</item>
                <item name="banktransfer" xsi:type="string">banktransfer</item>
                <item name="cashondelivery" xsi:type="string">cashondelivery</item>
                <item name="purchaseorder" xsi:type="string">purchaseorder</item>
            </argument>
        </arguments>
    </type>
    <type name="SalesIgniter\Common\Model\Payment\OffSession\StrategyPool">
        <arguments>
            <argument name="strategies" xsi:type="array">
                <item name="vault" xsi:type="object">SalesIgniter\Common\Model\Payment\OffSession\Strategy\VaultStrategy</item>
                <item name="offline" xsi:type="object">SalesIgniter\Common\Model\Payment\OffSession\Strategy\OfflineStrategy</item>
                <item name="free" xsi:type="object">SalesIgniter\Common\Model\Payment\OffSession\Strategy\FreeStrategy</item>
            </argument>
        </arguments>
    </type>
    <preference for="SalesIgniter\Common\Model\Payment\OffSession\SavedCardRequirementInterface" type="SalesIgniter\Common\Model\Payment\OffSession\SavedCardRequirement"/>
    <preference for="SalesIgniter\Common\Model\Payment\OffSession\SubjectSaverInterface" type="SalesIgniter\Common\Model\Payment\OffSession\SubjectSaver"/>
    <type name="SalesIgniter\Common\Model\Payment\OffSession\CartHandOff">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
</config>
