<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <!-- uncomment below to use CLI testing -->
<!--                <item name="run_test_command" xsi:type="object">SalesIgniter\Common\Console\Command\RunTestCommand</item>-->
                <item name="uninstallRental" xsi:type="object">SalesIgniter\Common\Console\Command\UninstallRentalUseWithCaution</item>
                <item name="removeAttributes" xsi:type="object">SalesIgniter\Common\Console\Command\RemoveAttributeSourceModels</item>
                <item name="restoreAttributes" xsi:type="object">SalesIgniter\Common\Console\Command\RestoreAttributeSourceModels</item>
            </argument>
        </arguments>
    </type>
</config>
